/* General */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --basicDark: #3b4252;
  --basicLight: #eceff4;
  --accentLightest: #b6fffa;
  --accentLight: #98e4ff;
  --accentMedium: #80b3ff;
  --accentDark: #687eff;
}

body {
  background-color: var(--basicDark);
}

/* NavBar */

.navbar {
  width: fit-content;
  height: 7vh;
  margin-bottom: 2vh;
  border: 1px solid var(--basicLight);
  border-radius: 50px;
  background-color: transparent;
}

.navbar-default {
  padding: 0;
}

.navbar .nav-link {
  color: var(--basicLight);
  font-size: 1.5em;
  font-family: "Quicksand", sans-serif;
}

.navbar .nav-link:hover {
  color: var(--basicDark);
  background-image: linear-gradient(
    -45deg,
    var(--accentLightest),
    var(--accentLight),
    var(--accentMedium),
    var(--accentDark)
  );
  border-radius: 50px;
}

.navbar .active {
  background-color: var(--basicLight);
  border-radius: 50px;
}

/* Landing Page */

.logo {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 9vh;
  padding-top: 2.5vh;
  text-align: center;
  color: var(--basicLight);
}

.page-name {
  color: var(--basicLight);
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 2rem;
}

.tagline {
  font-family: "Quicksand", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
}

/* Carousel */
.carousel {
  background-color: var(--basicDark);
  border-radius: 20px;
}

.carousel_container {
  width: 50vw;
  height: 80vh;
}

.carousel-inner {
  width: 50vw;
}

.carousel-caption,
.carousel-caption h3 {
  font-family: "Quicksand", sans-serif;
}

.memberDescription {
  width: 26vw;
  color: var(--basicLight);
  padding: 10px;
  margin-left: 12vw;
  margin-bottom: 20vh;
  font-size: 1.3rem;
}

.projectDescription {
  margin-bottom: 9vh;
  color: var(--basicLight);
  font-weight: 600;
}

/* Phone styles */
@media only screen and (max-width: 767px) {
  .tagline {
    margin-top: 8vh;
    font-size: 2rem;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20vh;
    width: 80vw;
  }

  .navbar .nav-link {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
  }
}
